POSTGRES_USER=seniorcare
POSTGRES_PASSWORD=CAMBIAR_CONTRASENA

JWT_SECRET=CAMBIAR_CLAVE_JWT_MINIMO_32_CARACTERES
JWT_ISSUER=SeniorCare.Identity
JWT_AUDIENCE=SeniorCare.Platform

SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=CAMBIAR_CONTRASENA

SEED_CAREGIVER_USERNAME=cuidador
SEED_CAREGIVER_PASSWORD=CAMBIAR_CONTRASENA

SEED_RESIDENT_USERNAME=maria
SEED_RESIDENT_PASSWORD=CAMBIAR_CONTRASENA

SEED_FAMILY_USERNAME=ana
SEED_FAMILY_PASSWORD=CAMBIAR_CONTRASENA

VIDEO_PROVIDER_BASE_URL=https://meet.jit.si/

ETL_INTERVAL_SECONDS=30